* {
	box-sizing: border-box;
}
.header {
	width: 100%;
	height: 65px;
	border-bottom: 2px solid #ccc;
}

.header_text {
	display: block;
	padding-top: 0px;
	font-size: 45px;
	font-weight: bolder;
	color: #F88B30;
	font-family: 'Catamaran', Arial, serif;
	text-align: center;
    margin: 0;
}

#signOutBtn {
	display: none;
	float: right;
	margin: auto;
	font-family: 'Catamaran', Arial, serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	border-color: #F88B30;
	border-radius: 10px;
	border-style: solid;
	background-color: #FFF;
	color: #F88B30;
	margin-top: 15px;
}


.header-image img {
	width: 100%;
}

.body {
	font-family: 'Montserrat', Arial, serif;
}

.body-text {
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
}

.get-started-btn button {
	align-self: center;
	font-family: 'Catamaran', Arial, serif;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	margin: auto;
	display: block;
	border-color: #F88B30;
	border-radius: 10px;
	border-style: solid;
	background-color: #FFF;
	color: #F88B30;
}

a.button:link {
	color: #F88B30;
	text-decoration: none;
}

a.button:visited {
	color: #F88B30;
	font-weight: normal;
	text-decoration: none;
}

a.button:hover {
	color: #F88B30;
	text-decoration: none;
}

a.button:active {
	color: #F88B30;
	text-decoration: none;
}

fieldset {
	top: 3em;
	border-color: #ccc;
	border-style: solid;
}

input {
	width: 100%;
	margin: 5px;
}

form {
	text-align: center;
}

#login-btn {
	width: 100%;
	align-self: center;
	font-family: 'Catamaran', Arial, serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
	display: block;
	border-color: #F88B30;
	border-radius: 10px;
	border-style: solid;
	background-color: #FFF;
	color: #F88B30;
}

.login {
	display: block;
	width: 100%;
}

.login fieldset {
	margin: auto;
	margin-top: 5em;
	width: 20%;
	display: block;
}

.redirectBtn {
	display: block;
	margin: auto;
	width: 20%;
	font-family: 'Catamaran', Arial, serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
	display: block;
	border-color: #F88B30;
	border-radius: 10px;
	border-style: solid;
	background-color: #FFF;
	color: #F88B30;
}

#login-text {
	text-align: center;
	margin: auto;
	margin-top: 1em;
	width: 20%;
}

#registerText {
	font-size: 300%;
	text-align: center;
	text-transform: uppercase;
}

#errorMsg {
	display: none;
}

.roleIcon {
	border-bottom: 2px solid #ccc;
	margin-left: 10%;
	margin-top: 3%;
	width: 35%;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.roleIcon:hover {
	opacity: 0.5;
}

.selectedIcon {
	border-bottom: 2px solid #F88B30;
	margin-left: 10%;
	width: 35%;
}

#searchCliqBtn {
	display: block;
	margin: auto;
	width: 20%;
	font-family: 'Catamaran', Arial, serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
	display: block;
	border-color: #F88B30;
	border-radius: 10px;
	border-style: solid;
	background-color: #FFF;
	color: #F88B30;
}

#finishCliqBtn {
	margin: auto;
	margin-left: 29.85%;
	width: 20%;
	font-family: 'Catamaran', Arial, serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
	display: inline-block;
	border-color: #F88B30;
	border-radius: 10px;
	border-style: solid;
	background-color: #FFF;
	color: #F88B30;
}

#cancelCliqBtn {
	margin: auto;
	width: 20%;
	font-family: 'Catamaran', Arial, serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
	display: inline-block;
	border-color: #F88B30;
	border-radius: 10px;
	border-style: solid;
	background-color: #FFF;
	color: #F88B30;
}


#map {
	display: block;
	margin: auto;
	margin-top: 1em;
	width: 60%;
	height: 35em;
	border: 2px solid #F88B30;
}

#mapForm {
	width: 20%;
	display: block;
	margin: auto;
	margin-top: 1em;
}
